/* General body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Container styles */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Title styles */
h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;

}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f9f9f9;

}

tr:nth-child(even) td {
    background-color: #f1f1f1;
}

tr:hover {
    background-color: #e9e9e9;
}

img {
    max-width: 100px;
    height: auto;
}

/* Centered text for "No products available" */
.text-center {
    text-align: center;
}

/* Additional spacing for margins */
.mt-4 {
    margin-top: 20px;
}

.deleteBtn {
    padding: 10px 15px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 5px;
    width: 100px;
}
.updateBtn {
    padding: 10px 15px;
    background-color: #219653;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 5px;
    width: 100px;
}
.backBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    background: #2d32d1;
    color: #fff;
    text-decoration: none;
}

.backBtn:hover {
    background: #1e25b3;
}