<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Brand</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css_files/add_category.css">
</head>

<body>
    <h1>Add New Category</h1>
    <a href="javascript:history.back()" class="backBtn">
        <i class="fas fa-arrow-left"></i> Back
    </a>
    <form action="{% url 'add_category' %}" method="POST">
        {% csrf_token %}
        <!-- <div>
            <label for="product_name">Category ID:</label>
            <input type="text" id="product_name" name="product_name" required>
        </div> -->

        <div>
            <label for="Category_name">Category name:</label>
            <input type="text" id="Category_name" name="category_name" required>
        </div>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p id="error_msg">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <!-- Hidden inputs to store selected category ID and Name -->

        <button type="submit"
            style="background-color: green; color: white; padding: 10px; border: none; cursor: pointer;">
            Add Category
        </button>
    </form>
    
</body>

</html>